.map-responsive {
  overflow: hidden;
  padding-bottom: 20%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#formulario .form-area {
  margin-bottom: 7%;
}

.form-area {
  padding-top: 7%;
  margin: 10px;
}

.row.single-form {
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
}

.left {
  background: rgb(255, 181, 45);
  padding: 200px 98px;
}
.left h2 {
  font-family: Verdana;
  color: #fff;
  font-weight: 700;
  font-size: 38px;
}
.left h2 span {
  font-weight: 100;
}

.single-form {
  background: #fff;
}

.right {
  padding: 70px 10px;
  position: relative;
}
.right i {
  position: absolute;
  font-size: 80px;
  left: -27px;
  top: 40%;
  color: #fff;
}
.right .form-control {
  border: 2px solid #000;
}
.right button {
  border: none;
  border-radius: 0;
  background: #252525;
  width: 180px;
  color: #fff;
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
.right button:hover {
  background-color: rgb(255, 181, 45);
}

.footer2 {
  background-color: rgb(30, 30, 30);
}
.footer2 p {
  margin: 0;
  padding: 12px;
  color: #FFFFFF;
}
.footer2 .container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (min-width: 768px) and (max-width: 991px) {
  .right i {
    top: -52px;
    transform: rotate(90deg);
    left: 50%;
  }
}
@media (max-width: 767px) {
  .left {
    padding: 90px 15px;
    text-align: center;
  }
  .left h2 {
    font-size: 25px;
  }
  .left .right {
    padding: 25px;
  }
  .left .right i {
    top: -52px;
    transform: rotate(90deg);
    left: 46%;
  }
  .left button {
    width: 150px;
    padding: 12px 0;
  }
}
.pricing-wrapper {
  padding: 70px 0;
}

.head-text {
  font-size: 40px;
  font-weight: 700;
  color: #140404;
}

.pricing-box {
  overflow: hidden;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 70px;
}
.pricing-box.active {
  transform: scale(1.1);
  border: 3px solid #ff8a43;
  border-radius: 10px;
  z-index: 9;
}
.pricing-box.active .pricing-first-content {
  background: linear-gradient(90deg, #ff8a43 20%, #fa7070 100%) !important;
}
.pricing-box.active .pricing-first-content p {
  color: #ffffff !important;
}

.pricing-first-box {
  border-radius: 10px 0 0 10px;
}

.pricing-first-content {
  padding: 20px 30px;
  background: rgb(255, 181, 45);
}
.pricing-first-content h3 {
  text-transform: capitalize;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
}
.pricing-first-content p {
  font-size: 14px;
  line-height: 23px;
  margin-top: 15px;
  color: #ffffff;
}

.pricing-last-content {
  padding: 35px 30px;
}
.pricing-last-content h2 {
  font-weight: 600;
  font-size: 42px;
  color: #04000b;
}
.pricing-last-content .sub {
  vertical-align: top;
}
.pricing-last-content h2 span {
  font-size: 16px;
}
.pricing-last-content .price-color {
  color: black !important;
}
.pricing-last-content ul {
  margin-top: 15px;
}
.pricing-last-content ul li {
  margin-bottom: 10px;
}
.pricing-last-content ul li i {
  margin-right: 10px;
}

.pricing-box.active .custom-btn {
  background: linear-gradient(90deg, #ff8a43 20%, #fa7070 100%) !important;
  color: #ffffff !important;
}

#preciosbs {
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: center;
  color: rgb(30, 30, 30);
}

#hero2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 25vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/bladerunner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#hero2 h1 {
  color: white;
  font-size: 1.95em;
  padding: 1vh;
}
#hero2 button {
  font-size: 1.05em;
}
#hero2 a {
  display: inline-block;
  padding: 10px 30px;
  background-color: rgb(255, 181, 45);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 1.05em;
  font-weight: bold;
  transition: box-shadow 0.4s ease;
}
#hero2 a:hover {
  box-shadow: 0 0 1px rgb(255, 181, 45), 0 0 2px rgb(255, 181, 45), 0 0 5px rgb(255, 181, 45), 0 0 10px rgb(255, 181, 45), 0 0 20px rgb(255, 181, 45);
}

#tuciney {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../media/pxfuelCAMERA.jpg);
}
#tuciney p {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#somos-sciney .container {
  text-align: center;
  padding: 100px 12px;
  padding-top: 60px;
}
#somos-sciney .container p {
  font-size: 20px;
  margin-top: 5vh;
  padding: 1vh;
  text-align: center;
  color: rgb(30, 30, 30);
}

#final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: rgb(30, 30, 30);
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#final h2 {
  margin-bottom: 0.5em;
  color: white;
}
#final button {
  font-size: 1.75em;
}
#final a {
  display: inline-block;
  padding: 5px 30px;
  margin-left: 5vh;
  margin-right: 5vh;
  background-color: rgb(255, 181, 45);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  transition: box-shadow 0.4s ease;
}
#final a:hover {
  box-shadow: 0 0 1px rgb(255, 181, 45), 0 0 2px rgb(255, 181, 45), 0 0 5px rgb(255, 181, 45), 0 0 10px rgb(255, 181, 45), 0 0 20px rgb(255, 181, 45);
}

#caracteristicas .container {
  text-align: center;
  padding: 100px 0px;
}
#caracteristicas li {
  margin: 20px 0px;
  font-weight: bold;
  padding-right: 6vh;
}
#caracteristicas p {
  font-size: 1em;
}

footer {
  background-color: rgb(230, 230, 230);
}
footer p {
  margin: 0;
  font-size: 15px;
  padding: 12px;
  color: rgb(30, 30, 30);
}
footer .container {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #FFFFFF;
  position: sticky;
  width: 100%;
  top: 0;
}
header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: rgb(255, 181, 45);
  font-size: 1.6em;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .container nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
header .container nav a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(30, 30, 30);
}
header .container nav a:hover {
  color: rgb(255, 181, 45);
}

@media (max-width: 767px) {
  header {
    position: relative;
    width: 100%;
    top: 0;
  }
  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
  }
  header .container nav {
    flex-direction: column;
  }
  header .container nav a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(30, 30, 30);
  }
  header .container nav a:hover {
    color: rgb(255, 181, 45);
  }
}
#nuestros-cursos {
  background-color: rgb(30, 30, 30);
  color: #FFFFFF;
  text-align: center;
}

#nuestros-cursos .container {
  padding: 100px 0px;
}

#nuestros-cursos h2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  font-size: 3em;
}

#nuestros-cursos p {
  display: none;
}

#nuestros-cursos .carreras {
  margin: 20px;
  background-size: cover;
  background-position: center center;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}

.carreras:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/thebatman.jpg);
}

.carreras:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/guion2.jpg);
}

.carreras:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/nenekubrick.jpg);
}

.carreras:nth-child(4) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/mrfox3.jpg);
}

.carreras:nth-child(5) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/montaje.jpg);
}

.carreras:nth-child(6) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/marlon2.jpg);
}

#nuestros-cursos a {
  display: inline-block;
  padding: 10px 30px;
  background-color: rgb(255, 181, 45);
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 1.05em;
  font-weight: bold;
  transition: box-shadow 0.4s ease;
  margin-top: 10px;
}

#nuestros-cursos a:hover {
  box-shadow: 0 0 1px rgb(255, 181, 45), 0 0 2px rgb(255, 181, 45), 0 0 5px rgb(255, 181, 45), 0 0 10px rgb(255, 181, 45), 0 0 20px rgb(255, 181, 45);
}

.custom-btn {
  border: 2px solid rgb(255, 181, 45);
  background: transparent;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-weight: 600;
  border-radius: 30px;
  color: rgb(255, 181, 45);
  padding: 16px 45px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 15px;
}
.custom-btn:hover {
  color: #ffffff;
}
.custom-btn::after {
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: -5%;
  content: "";
  height: 150px;
  width: 115%;
  z-index: -1;
  background: rgb(255, 181, 45);
  transition: all 0.25s ease-in-out;
  transform: translateY(-45%) skew(25deg) scale(0);
}
.custom-btn::after:hover {
  transform: translateY(-45%) skew(25deg) scale(1.2);
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: #FFFFFF;
  background-color: rgb(255, 181, 45);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/Tarantinoshot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#hero h1 {
  color: #FFFFFF;
}
#hero button {
  font-size: 1.75em;
}
#hero a {
  display: inline-block;
  padding: 10px 30px;
  background-color: rgb(255, 181, 45);
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  transition: box-shadow 0.4s ease;
  margin-top: 10px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(205, 205, 205);
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25em;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.accent {
  color: rgb(255, 181, 45);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

/*# sourceMappingURL=styles.css.map */
