$accent-color: rgb(255, 181, 45);
$dark-color: rgba(0, 0, 0, 0.5);
$body-color: rgb(205, 205, 205);
$white-color: #FFFFFF;
$primary-color: #333;
$secondary-color: #555;
$btn-bg-color: #ccc;
$btn-hover-bg-color: #999;