footer {
    background-color: rgb(230, 230, 230);
  
    p {
      margin: 0;
      font-size: 15px;
      padding: 12px;
      color: rgb(30, 30, 30);
    }
  
    .container {
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  